/* ==========================================================================
	Variables
========================================================================== */

// Fonts
$sans-serif:  "Nimbus Sans", sans-serif;
$serif:       "Times New Roman", serif;

// Colors
$blue:                #255380;

// Color Assignments
$link-color:  $blue;

// Media Query Breakpoints
$xsmall:      20em;  // 320px
$small:       30em;  // 480px
$medium:      48em;  // 768px
$large:       64em;  // 1024px
$xlarge:      80em;  // 1280px
$maxmed:      767px;  // 1280px
$maxlrg:      1023px;  // 1280px
